
/*
h1{
    color: red;
}
.parrafo2{
    color: aqua;
}
#parrafo1{
    font-size: 20px;
}

* {
    color: rgb(97, 194, 72);
    font-size: 30px;
}
*/
div{
    color: aqua;
}
/* Ejemplo*/
a[href*=".com"]{
    font-weight: bold;
}